body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.features {
  display: flex;
}

#home-tabs, h3 {
  display: inline-block;
  padding-right: 1rem;
}

h1 {
  text-align: center;
}

#search {
  margin-right: 1.5rem;
}

.tabs-and-features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
