body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-container {
  display: flex;
  gap: 1.25em;
  margin-top: 1rem;
}

/* profile and bio styling */

.bio {
  margin-top: 1rem;
  border: 0.1rem grey solid;
  text-align: center;
}

.pic {
  font-size: 8rem;
}

.profile {
  border: 0.1rem grey solid;
}

.profile-bio-column {
  max-width: 30%;
}

.profile-info {
  display: flex;
  font-size: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}

/* news feed column styling */

img {
  width: 5rem;
  float: left;
}

.newsfeed-column {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-width: 40%;
  border: 0.1rem grey solid;
}

#post {
  text-align: center;
  font-size: 1.5rem;
}

.post-tweet {
  text-align: center;
}

/* container for whole page */
#root {
  margin-left: 5rem;
  margin-right: 5rem;
}

/* Styling for Tabs and Features in header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home-tabs, p {
  display: inline-block;
  margin: 0.25rem;
  font-size: 1.2rem;
}

#search {
  margin-right: 1.5rem;
  border: 0.2rem solid blue;
  border-radius: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  width: 25%;
}

.tabs {
  border: 0.15rem grey solid;
  padding: 0.6rem;
}

.tab-select {
  border-right: 0.1rem grey solid;
  padding-right: 0.5rem;
  flex-direction: column;
}

#tweet {
  border: 0.2rem solid blue;
  border-radius: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  min-width: 10%;
}
